# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/

# Environment variables file
.env

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints

# Config file for pyenv
pyvenv.cfg

# Data files
data/countries_name.csv
